/*Paleta de colores 
.color1 {color: #003500;}
.color2 {color: #006c51;}
.color3 {color: #fe6f3f;}
.color4 {color: #ffd254;}
.color5 {color: #ffffa4;}*/

body {
    background: linear-gradient(#fe6f3f, #006c51);
}

* {
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    font-weight: bold;
}

header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 700px;
}
.logo:hover {
    opacity: 0.6;
}

.menu_interno {
    font-size: 0.7cm;
    margin: 3cm auto;
    text-align: center;
    margin-bottom: 3cm;
}

.menu-links {
    padding: 0.4cm;
    background-color: #ffffa4;
    border-radius: 40px;
    margin: 0.4cm;
    border: 5px solid transparent;
}

a, a:visited {
    color:rgb(136, 61, 240);
    text-decoration: none;;
}

.menu_interno a:hover {
    background-color: #fe6f3f8b;
    border: 5px solid rgba(153, 205, 50, 0.668)
}

.imglink {
    width: 340px;
    margin: 10px;
    border: 10px solid transparent;
}
.imglink:hover {
    border: 10px solid rgba(153, 205, 50, 0.668);
    border-radius: 10px;
    opacity: .6;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 100vh;
}
.centradoend {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 100vh;
}

ul#links-contacto.centradoend {
    height: 30vh;
    list-style-type: none;
    clear: both;
}

a:link.botonlink, a:visited.botonlink {
    padding:30px;
    margin:20px;
    text-decoration: none;
    background-color: rgb(237, 184, 116);
    color:rgb(136, 61, 240);
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
    border: 6px solid transparent;
}

a:hover.botonlink, a:active.botonlink {
    background-color: rgb(220, 133, 99);
    border: 6px solid rgba(153, 205, 50, 0.668);
}

#quienes_somos {
    background-color: rgb(255, 210, 84, .6);
    border-radius: 50px;
}
div h1 {
    color:#003500;
    margin: 40px;
    text-shadow: 0px 0px 6px #fe6f3f;
}